@import'common';
body {
    background: $blue;
    background: #eee;
}
main {
    @extend .size-m;
    >div {
        background: #fff;
        width: 95vw;
        border: 2px solid #ccc;
        margin-top: 5px;
        @extend .center2;
    }
    p {
        @extend .center3;
    }
    .div1 {
        height: 40px;
        @extend .center3;
        >p {
            color: $blue;
        }
    }
    .div2 {
        padding:  25px 0;
        @extend .center3;
        flex-direction: row;
        span {
            height: 140px;
            width: 2px;
            background: #ccc;
            margin: 0 20px
        }
        >div>div {
            position: relative;
        }
        .sj {
            position: absolute;
            left: -2px;
            top: 7px;
            height: 0;
            width: 0;
            border-right: 18px solid #24a7c6;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
        img{
        	position: absolute;
            left: -37px;
            height: 30px;	
            width: 30px;

        }
        p {
            background: #24a7c6;
            margin: 12px;
            height: 30px;
            width: 70vw;
            color: #fff;
            position: relative;
        }
    }
}
.footer {
        justify-content: center;
        @extend .center;
        width: 100vw;
        padding: 0;
        
    input {
        background: #fbb435;
        width: 40%;
        height: 35px;
        color: white;
        margin: 0 5%;
        border-radius: 5px;
    }
}