@import'common';
input {
    border: none;
    text-align: center;
    background: none;
    font-size: 20px;
}
.main {
    background: $blue;
    height: 450px;
    >div {
        width: 70vw;
        height: 350px;
        background: #ffedc5;
        border: 3.5px solid #fff;
        @extend .center3;
        position: relative;
        >div:nth-of-type(1) {
            
        }
        >span {
            width: 50px;
            height: 50px;
            border: 2px solid #ffedc5;
            border-radius: 50%;
            @include abs(-25px);
            @extend .center3;
            background: #fff;
            >input {
                color: #f3425e;
                font-size: 24px;
            }
        }
        >div:nth-of-type(2) {display: none;
            >input {
                color: $blue;
                margin: 15px;
            }
            >div {
                height: 60px;
                width: 100%;
            }
        }
    }
}
footer {
    height: 100px;
    @extend .center3;
    background: $blue;
    button {
        height: 50px;
        width: 70vw;
        background: #fbb435;
        >input {
            color: #fff;
            font-size: 20px;
        }
    }
}