@charset "UTF-8";
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0; }

/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset, img {
  border: 0 none; }

/* 重置fieldset（表单分组）、图片的边框为0*/
dl, ul, ol, menu, li {
  list-style: none; }

/* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote, q {
  quotes: none; }

/* 重置嵌套引用的引号类型 */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* 重置嵌套引用*/
input, select, textarea, button {
  vertical-align: middle; }

/* 重置表单控件垂直居中*/
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer; }

/* 重置表单button按钮效果 */
body {
  background: #fff; }

/* 重置body 页面背景为白色 */
body, th, td, input, select, textarea, button {
  font-size: 20px;
  line-height: 1;
  color: #666; }

/* 重置页面文字属性 */
a {
  text-decoration: none; }

/* 重置链接a标签 */
a:active, a:hover {
  text-decoration: none; }

/* 重置链接a标签的鼠标滑动效果 */
address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal; }

/* 重置样式标签的样式 */
caption {
  display: none; }

/* 重置表格标题为隐藏 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

/* 重置table属性 */
img {
  vertical-align: top; }

/* 图片在当前行内的垂直位置 */
/* 页面设置 */
/* 取消a标签点击后的虚线框 */
a {
  outline: none; }

a:active {
  star: expression(this.onFocus=this.blur()); }

/* 设置页面文字等在拖动鼠标选中情况下的背景色与文字颜色 */
/*
::selection {color: #fff;background-color: #4C6E78;}
::-moz-selection {color: #fff;background-color: #4C6E78;}
*/
/*清除浮动*/
.clear {
  clear: both; }

/*清除浮动--推荐使用*/
.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

hr {
  width: 100%;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0; }

* {
  padding: 0;
  margin: 0;
  font-family: arial; }

.center {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.center2, body > div, body, .main1 > div {
  display: flex;
  align-items: center;
  flex-direction: column; }

.center3, body, footer, .main1 input, .main1 .div1, .main1 .div2, .p {
  display: flex;
  align-items: center;
  justify-content: center; }

.padding-a {
  padding: 0 5vw; }

.padding-b {
  padding: 10px 0; }

.size-l {
  font-size: 18px; }

.size-m, main, .p, .main-div > div .choose1 {
  font-size: 16px; }

.size-s {
  font-size: 12px; }

.center-y {
  position: absolute;
  top: 50%;
  transform: translatey(-50%); }

.center-x, .main-div > div .img {
  position: absolute;
  left: 50%;
  transform: translatex(-50%); }

body {
  margin: 0;
  padding: 0; }
  body > div {
    height: 650px;
    position: relative;
    min-width: 330px;
    max-width: 800px;
    background: #29bde0;
    width: 100vw; }

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.header {
  width: 100%;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  background: #29bde0;
  color: #FFF; }
  .header > p, .header > a {
    margin: 0 2%; }
  .header a:link, .header a:visited {
    color: #FFF;
    font-size: 40px; }

footer {
  position: absolute;
  bottom: 25px;
  width: 70vw;
  height: 45px;
  max-width: 455px;
  background: #fbb435; }
  footer a {
    width: inherit;
    text-align: center;
    color: white;
    background: #fbb435;
    border-radius: 5px; }

input {
  border: none;
  text-align: center;
  background: none; }

.center-v {
  position: absolute;
  top: 50%;
  transform: translatey(-50%); }

body > div {
  background: #eee; }

.show {
  display: flex; }

.hide {
  display: none; }

#main {
  height: 520px;
  overflow-y: auto;
  margin-bottom: 75px; }

.main1 {
  display: none;
  width: 90%; }
  .main1 > div {
    background: #fff;
    width: 95%;
    border: 2px solid #ccc;
    margin-top: 5px; }
  .main1 .div1 {
    height: 40px;
    width: 100%; }
    .main1 .div1 input {
      color: #29bde0; }
  .main1 .div2 {
    padding: 25px 0;
    flex-direction: row;
    position: relative;
    display: none;
    width: 100%; }
    .main1 .div2 > div {
      width: 100%; }
    .main1 .div2::before {
      content: '';
      position: absolute;
      top: -9px;
      height: 0;
      width: 0;
      border-bottom: 10px solid white;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent; }
    .main1 .div2 .line {
      height: 140px;
      width: 2px;
      background: #ccc;
      margin: 0 20px; }
    .main1 .div2 > div > div {
      position: relative; }
    .main1 .div2 img {
      position: absolute;
      left: -37px;
      height: 30px;
      width: 30px; }
    .main1 .div2 .btn, .main1 .div2 .btn-click {
      width: 70%; }
    .main1 .div2 .btn::before, .main1 .div2 .btn-click::before {
      content: '';
      position: absolute;
      left: -4px;
      top: 7px;
      height: 0;
      width: 0;
      border-right: 18px solid #24a7c6;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; }
    .main1 .div2 .btn-click > p {
      background: #83b09b; }
    .main1 .div2 .btn-click::before {
      border-right: 18px solid #83b09b; }
  .main1 .input1 {
    width: 70%;
    display: none;
    padding-left: 10px; }
  .main1 .input2 {
    color: #29bde0;
    font-weight: bold;
    padding-left: 10px; }

.a {
  background: #b9e9f5;
  position: absolute;
  top: 60px; }
  .a .s {
    position: absolute;
    top: 60px;
    left: 10%;
    border-top: 10px solid #b9e9f5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 1; }

.p {
  background: #24a7c6;
  margin: 12px;
  height: 30px;
  width: 125%;
  color: #fff;
  position: relative; }

.main-div {
  width: 351px;
  white-space: normal; }
  .main-div > div {
    margin: 15px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    position: relative; }
    .main-div > div .choose1 {
      color: #000;
      width: inherit;
      background: #f5c97b;
      height: 70%; }
    .main-div > div .choose2 {
      color: #fff;
      width: 15px;
      width: inherit;
      height: 30%;
      background: #83b09a; }
    .main-div > div .img {
      height: 15px;
      width: 15px;
      z-index: 100;
      position: absolute;
      top: 85px;
      visibility: hidden; }
    .main-div > div:hover .img {
      visibility: visible; }

footer {
  background: #29bde0;
  width: 100%;
  max-width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0; }
  footer a {
    width: 40%;
    padding: 10px;
    margin: 0 5%; }

/*# sourceMappingURL=task4-2.css.map */
