<div class="add" ng-controller="add">
    <div class="add-title">
        <strong>{{listTitle}}</strong>
    </div>
    <form name="check">
        <div class="add-style">
            <label>标题名称
                <br/>
                <span class="red" ng-show="check.checktitle.$error.required">*</span>必填项</label>
            <input type="text" ng-model="title" name="checktitle" required novalidate/>
            <div style="color:red;display: inline-block" ng-show="check.checktitle.$error.required">
                标题不能为空
            </div>
        </div>
        <div class="add-style">
            <label>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型
                <br/>
                <span class="red" ng-show="check.type.$error.required">*</span>必填项</label>
            <select name="type" ng-model="type" ng-options="type.id as type.typename for type in types" required></select>
            <select ng-if="type===3" name="industry" ng-model="industry" ng-options="industry.id as industry.industryname for industry in industries"></select>
            <span ng-show="check.type.$error.required" style="color:red;">请选择行业类型</span>
        </div>
        <div>
            <label>说明</label>
            <div id="editor"></div>
            <script src="js/other/wangEditor.js"></script>
            <script src="js/JS6-EDIT.js"></script>
        </div>
        <div class="add-style">
            <label>跳转链接
                <br/>
                <span class="red" ng-show="check.check_type.$error.required">*</span>必填项</label>
            <input type="text" ng-model="link" name="check_type" required novalidate />
            <div style="color:red;display: inline-block" ng-show="check.check_type.$error.required">
                链接不能为空
            </div>
        </div>
        <div class="add-style">
            <label>配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图
            </label>
            <label for="file" class="btn btn-primary">选择文件</label>
            <input id="file" name="file" style="display: none;" type="file" ng-model="myFiles" ngf-select="" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="2MB" required="" class="ng-untouched ng-dirty ng-valid-max-height ng-valid-min-height ng-valid-max-width ng-valid-min-width ng-valid-dimensions ng-valid-ratio ng-valid-max-ratio ng-valid-min-ratio ng-valid-max-duration ng-valid-min-duration ng-valid-duration ng-valid-validate-async-fn ng-not-empty ng-valid-parse ng-valid ng-valid-required"
                accept="image/*" required>

        </div>


        <img ng-if="img_view" ng-src="{{img_view}}" />
        <table class="add-list-style">
            <tr style="text-align: center;">
                <th>图片</th>
                <th>大小</th>
                <th>进度</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr ng-if="myFiles">
                <td>{{myFiles.name}}</td>
                <td>{{myFiles.size/1048576 | number:3}}MB</td>
                <td>
                    <div class="progress text-center" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': myFiles.progress + '%' }"></div>
                    </div>
                </td>
                <td style="text-align: center;">{{ok}}</td>
                <td>
                    <button type="button" ng-click="imgUpload(myFiles)">
                        上传
                    </button>
                    <button type="button" ng-click="imgDelete(myFiles)">
                        删除
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <button ng-disabled="check.checktitle.$error.required || check.check_type.$error.required ||check.type.$error.required" ng-click="online()">立即上线</button>
        <button ng-disabled="check.checktitle.$error.required || check.check_type.$error.required ||check.type.$error.required" ng-click="save()">存为草稿</button>
        <button ng-click="cancel()">取消</button>
    </div>
</div>