@import'common';
$blue:#5fc0cd;
@mixin flex($ali:center, $jus:center, $w:100%, $h:60px) {
    display: flex;
    align-items: $ali;
    justify-content: $jus;
    width: $w;
    height: $h;
}
@mixin abs ($top:60px) {
    position: absolute;
    top: $top;
}
$border:1px solid #c4c4c4;
* {
    overflow-y: hidden;
}
.main {
    padding: 60px 10%;
    position: relative;
    height: 200px;
    width: 80%;
    &-part1 {
        @extend .center2;
        .img1 {
            @include abs(70px);
        }
        .img2 {
            @include abs(60px);
        }
        >p {
            @include abs(149px);
            font-weight: bold;
            color: white;
            white-space: nowrap
        }
    }
    &-part3 {
        @include abs(230px);
        left: 10%;
        p {
            width: 100px;
            @extend .size-m;
            color: white;
            text-align: left;
            margin: 7px;
        }
        >div {
            @extend .center3
        }
    }
}
.main2 {
    color: #868686;
    background: white;
    width: 90%;
    .box {
        border: $border;
    }
    p {
        text-align: left;
        margin: 5px 0 5px 5%;
        display: block;
    }
}
button {
    height: 40px;
    width: 35%;
    background: #fbb435;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    @extend .center2, .center-x;
}
.div3 {
    height: 60px;
    width: 100%;
}