@import'common';
$blue:#5fc0cd;
@mixin flex($ali:center, $jus:center, $w:100vw, $h:60px) {
    display: flex;
    align-items: $ali;
    justify-content: $jus;
    width: $w;
    height: $h;
}
@mixin abs ($top:60px) {
    position: absolute;
    top: $top;
}
$border:1px solid #c4c4c4;
body {
    background: $blue;
}
.main {
    background: $blue;
    padding: 60px 10vw;
    position: relative;
    height: 200px;
    &-part1 {
        @extend .center2;
        .img1 {
            @include abs(70px);
        }
        .img2 {
            @include abs(60px);
        }
        >p {
            @include abs(149px);
            font-weight: bold;
            color: white;
            white-space: nowrap
        }
    }
    &-part3 {
        @include abs(230px);
        left: -32vw;
        p {
            width: 100px;
            @extend .size-m;
            color: white;
            text-align: left;
            margin: 7px;
        }
        >div {
            @extend .center3
        }
    }
}
.main2 {
    color: #868686;
    background: white;
    width: 95vw;
    margin: 0 2.5vw;
    .box {
        border: $border;
    }
    p {
        text-align: left;
        width: 95vw;
        padding: 5px 7.5vw;
    }
}
button {
    height: 40px;
    width: 35vw;
    background: #fbb435;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    @extend .center2, .center-x;
}
.div3 {
    height: 60px;
    width: 100%;
}