@import'common';
@import'task4-1';

@mixin flex($ali:center, $jus:center, $w:100%, $h:60px) {
    display: flex;
    align-items: $ali;
    justify-content: $jus;
    width: $w;
    height: $h;
}
@mixin abs ($top:60px) {
    position: absolute;
    top: $top;
}
body>div {
    background: $blue;
}
#main2{width: 100%;}
.a {
    background: #b9e9f5;
    @include abs;
    @include flex ($w: 100%, $jus:space-between);
    >div{
        margin-left: 5%;
    }
    .s {
        @include abs;
        left: 10%;
        border-top: 10px solid #b9e9f5;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        z-index: 1;
    }
}
footer{
}
.main {
    //task4-1
    @include abs (120px);
    .choose {
        position: relative;
    }
    .img {
        height: 20px;
        width: 20px;
        z-index: 100;
        @extend .center-x;
        top: 110px;
        visibility: hidden;
    }
    .img-click {
       @extend .img;
        visibility: visible;
    }
}