@import'common';
body>div {
    background: $blue;
}
input {
    border: none;
    text-align: center;
    background: none;
    font-size: 20px;
    color: #fff;
}
main{
    margin-bottom: 100px;
    width: 100%;
    .one {
        color: #f3425e
    }
    >div:nth-child(1) {
        width: 70%;
        height: 300px;
        background: #ffedc5;
        border: 3px solid #fff;
        @extend .center3;
        position: relative;
        margin: 25px 0 20px 0;
        >span {
            width: 35px;
            height: 35px;
            border: 2px solid #ffedc5;
            border-radius: 50%;
            @include abs(-17.5px);
            @extend .center3;
            background: #fff;
            >input {
                color: #f3425e;
            }
        }
        >div>input {
            color: $blue;
            margin: 20px;
            width: 50px;
        }
        >div>div {
            height: 10px;
            width: 70%;
            margin: 20px 0;
            border-top: 2px solid #fff;
        }
    }
}
footer:hover {
    margin-top: 100px;
    box-shadow: 0 0 5px #666 inset;
}
.btn {
        width: inherit;
        color: white;
        text-align: center;
    }
#main2, #btn2 {
    display: none;
}