@import'common';
main {
    overflow-y: auto;
    justify-content: auto;
    .main {
        width: 330px;
        padding-bottom:75px;
    }
    .choose {
        width: 80px;
        height: 80px;
        border: 4px solid #fff;
        display: inline-block;
        margin: 20px 10px;
        >div {
            @extend .center3;
        }
        .choose1 {
            @extend .size-m;
            color: #000;
            width: inherit;
            background: #f5c97b;
            height: 70%;
        }
        .choose2 {
            color: #fff;
            width: 15px;
            width: inherit;
            height: 30%;
            @extend .size-s;
            background: #83b09a;
        }
    }
}
footer {
    background: $blue;
    width: 90%;
    max-width: 90%;
    height: 70px;
    position: absolute;
    bottom: 0;
    div {
        width: 70%;
        background: #fbb435;
        height: 45px;
        margin-bottom: 25px;
        @extend .center3;
    }
}