.red{
    color:red;
}

.add{
    width:80%;
    margin:1rem auto;
    font-size: 2rem;
    border:1px solid #ccc;
    overflow: hidden;
}

.add-title{
    padding:.5rem;
    border-bottom: 1px solid #ccc;
}

.add-style{
    padding:.5rem;
    label{
        vertical-align: middle;
    }
}

.add-list-style{
    width:100%;
    th{
        text-align: center;
        border:1px solid #ccc;
    }
    td{
        text-align: center;
    }
}