.main-right {
    padding: 1rem;
    font-size: 1.5rem;

}

.main-right-head {
    width: 100%;
    padding: 1rem;
    border: 1px solid#ccc;
}

.right {
    float: right;
}

.main-right-head-box {
    display: inline-block;
    width: 30%;
}

.first-line {
    margin-bottom: 1rem;
}

.main-right-middle {
    margin-top: 1rem;
    border: 1px solid #ccc;
}

.main-right-left {
    float: right;
    a {
        color: red;
    }
}

.main-right-middle-tittle {
    padding: .5rem;
    border-bottom: 1px solid #ccc;
}

.main-right-middle-info {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.info-tittle {
    list-style: none;
    span {
        display: inline-block;
        width:10%;
        
        text-align: center;
    }
}

.main-right-info-list {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    span {
        display: inline-block;
        margin:.1rem 0;
        font-size: .8rem;
        width: 10%;
        text-align: center;
        vertical-align: middle;
    }

    img{
    width:6rem;
    max-height: 5rem;
     
    
    }
}

.main-word {
    font-size: 5rem;
}