@import'common';

.signin {
    background: #eee;
    @include abs(100px);
    @extend .center2;
    width: 90vw;
    margin: 10px 5vw;
    padding: 10px 0;
    p {
        color: $blue;
        margin: 20px;
    }
    .input {
        background: #fff;
        width: 76%;
        height: 35px;
        margin: 5px 0;
        padding: 2%;
        @extend .center;

        >input{
        	width: 65vw;
        	text-align: left
        }
    }
    button{
    	width: 80%;
    	margin: 20px;
    	background:$blue;
    	color:#fff;
    	height: 38px;
    	border-radius: 5px;
    }
}