$blue:#5fc0cd;
@mixin flex($ali:center,$jus:center,$w:100vw,$h:60px){
	display: flex;
	align-items: $ali;
	justify-content: $jus;
	width: $w;
	height: $h;
	
}
@mixin abs ($top:60px){
	position: absolute;
	top:$top;
}
$border:1px solid #c4c4c4;


body{
	background: $blue;
}
.main{
	background:#5fc0cd;
	margin-top: 60px;
	position: relative;
	width: 80vw;
	margin-left: 10vw;
	&-part1{
		width: 180px;
		height: 120px;
		margin: 20px 0;
			.img1{
				@include abs(10px);
    }
			.img2{
				@include abs(0);
		}
			>p{
				@include abs(85px);
   				font-weight: bold;
				color: white}}

	&-part2{color: #ffc865;		margin: 20px 0;
}
	&-part3{
		color: #fff;		margin: 20px 0;
		p{display: inline-block;
			margin: 5px 0;
		}
		>div{
			display: flex;
			flex-wrap: wrap;
			
			p{
				white-space: nowrap;
				width: 110px;
			}
		}


	}

}
.main2{
	background: #fff;color: #c4c4c4;
	.box{
		width: 80vw;
		padding: 20px 10vw;
		border-bottom: $border;
			p{
			margin: 5px 0;
		}	}

}
.footer{

	filter:alpha(opacity=70);  /*支持 IE 浏览器*/
-moz-opacity:0.70; /*支持 FireFox 浏览器*/
opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
	  }
.button1{height: 40px;
	width:35vw;
	background: #f66f6f;
	border:none;
    color: white;
font-size: 150%;
border-radius: 5px;}
.button2{
	height: 40px;
	width:35vw;
	background: #fbb435;
	border:none;
color: white;
font-size: 150%;
border-radius: 5px;}
.div3{
	height: 60px;
	width: 100%;
	}