/* Scss Document */

$blue:#5fc0cd;
@mixin flex($ali:center,$jus:center,$w:100vw,$h:60px){
	display: flex;
	align-items: $ali;
	justify-content: $jus;
	width: $w;
	height: $h;
	
}
@mixin abs ($top:60px){
	position: absolute;
	top:$top;
}
$border:1px solid #c4c4c4;

body{
	background: $blue;
}

.a {
	background: #b9e9f5;
	@include abs;
	
	@include flex ($w:90vw,$jus:space-between);
	.s {
		@include abs;
		left:10vw;
		border-top: 10px solid #b9e9f5;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		z-index: 1;
	}
	
		
}
.main{
	width: 100%;
	background:#5fc0cd; 
	@include abs (120px);
	@include flex ($h:none);
	flex-direction: column;
	>p{
		@include abs (10px);
		left:10vw;
		color: #fff;
	}
   >div{
	margin: 60px 0 0 0 ;
}
    button:hover .button-img{
    visibility: visible ;
}
	
	.button-img {
		visibility: hidden;
		}

.box{
	width: 80px;
	height: 80px;
	border: 2px solid white;
	display: flex;
	flex-direction: column-reverse;
	color: white;

.box1{
	height: 50px;
	background:#f5c97b; 

	}
.box2{
	background: #83b09a;
	height: 30px;
}
	
	
	}}


.footer{
	a{
	background: #fbb435;
		justify-content: center;
	width: 80vw;
	height: 40px;
		color: white;
 }}



.aaa{
		transform: translateX(0);
}
#menu {
	display: none;
 
  &:checked ~ .main2 {
    left: 0;
    }
  &:checked ~ main {
    transform: translateX(65vw);
    transition: transform 500ms ease; }
	
  &:checked ~ footer {
    transform: translateX(65vw);
    transition: transform 500ms ease; }
	}
.main2{
	position: fixed;
	top:60px;
	left:-70vw;
	width: 70vw;
	color: $blue;
	background: #fff;
	height: 100%;
  	box-shadow: #a0a1a2 -2px 0 10px inset;

	>div{
		border-bottom: $border;
		.center{
			width: 15vw
		}	
		
		}	
		
	}








